h1{
    border: 20px solid #ff0000;
    display: block;
}
h2{
    border: 20px solid green;
    display: inline;
}
li{
    display:inline-block;
    border: 1px solid red;
    margin: 50px;
    padding: 20px;
}

