*{
    margin: 0;
    padding: 0;
}
/* header starts here */
header{
    background: #333333;
}
/* nav starts here */
nav{
    padding-top: 48px;
    padding-bottom: 49px;
}
ul{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 27px;
    line-height: 32px;
    color: #FFFEFE;
    text-align: center;
    
}
li{
    display: inline-block;
    padding-right: 30px;
}


/* heading starts here */
.head{
    display: table;
    width: 100%;

    background: #FFFFFF;
    border: 1px solid #000000;
    box-shadow: 0px 4px 29px rgba(111, 111, 111, 0.25);
}
.head img{
    width:20%;
    display: table-cell;
    padding: 10px 20px 10px 30px;
    
}

.para{
    display: table-cell;
    vertical-align: middle; 
    padding-right:20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
    color: #000000;
    text-align: end;
}
.para p:first-child{
    margin-bottom:10px;
}



/* content section starts here */

.section-1{
    background: #F3F2EE;
    border:1px solid #000;
}
.section-1 .main{
    width: 30%;
    margin-top:50px;
    margin-left: 35px;
    display: inline-block;
}
 .main h3{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 45px;
    color: #343434;
}
.main img{
    width: 50%;
    padding: 5px;
    margin-top: 10px;
    border: 1px solid #6F6C6C;
}
.main p{
    margin-top: 20px;
    width: 60%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 23px;
    line-height: 153.19%;
    color: #000000;
}
.main h4{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 29px;
    line-height: 153.19%;
    color: #6D9D34;
}
/* section two starts here */
.section-2{
    display:inline-block ;
    background: #E5E5E5;
    border:1px solid #000;
}
.section-2 .row1{
    
    
    display: inline-block;
    margin-top: 40px;
}
.row1 .parent-1{
    width: 50%;
    display:inline-block;
    
}
.img{
    
    width:25%;
    margin-left: 45px;
    
    display:inline-block;
}
hr{
    border:1px solid #000;
}
.img:nth-child(1){
    margin-left: 54px;
}
.row .parent-2{
    border:1px solid; 
    margin-top: 70px;
    display: inline-block;
}
.parent-2 h3{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 43px;
    line-height: 153.19%;
    color: #8F8F8F;
    margin-left: 38px;
    margin-top:130px;
}
.sub .imge{
    
    width:30%;
    border: 1px solid;
    padding: 4px;
    margin-top:30px;
    margin-left: 40px;
    float:left;
    margin-right: 10px;

}




    

.sub h5{
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 153.19%;
    color: #8F8F8F;
    margin-top:50px;
    
}
.sub p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 118.19%;
    color: #8F8F8F;
    margin-top:20px;
    
    
}
.column{
    width:40%;
    display:inline-block;
    margin-left:80px;
    vertical-align: top;
    
}
.column h3{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 43px;
    line-height: 153.19%;


    color: #8F8F8F;


}
.column1{
    border: 1px solid;
    margin-left:20px;
}
.column-1 .image{
    width: 31%;
    float: left;
    border: 1px solid;
    padding: 10px;
    margin-right: 5px;
    
    
}
.column-1 img{
    width: 100%;
}

.column-1 h4{
    
    margin-top: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 169.19%;
    color: #6C6C6C;
    
}
.column-1 p{
   
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 169.19%;
    
    color: #707070;
}
.column-1 h5{
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 153.19%;
   

    color: #6D9D34;
}
.footer-content{
    background-color: #343434;
}
.footer-column-1{
    width:95%;
    margin:0 auto;
}
.footer-column-1 .sub{
    width:30%;
    display: inline-block;
}
.sub .image{
    
    width:30%;
    border: 1px solid;
    padding: 4px;
    margin-top:30px;
    
    float:left;
    margin-right: 10px;

}

.sub img{
    width: 100%;
}
.sub h3{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 43px;
    line-height: 153.19%;
    /* identical to box height, or 66px */
    
    
    color: #B1B1B1;
}




    

.sub h5{
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 153.19%;
    color: #8F8F8F;
    margin-top:50px;
    
}
.sub p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 118.19%;
    color: #8F8F8F;
    margin-top:20px;
    
    
}
.footer-column-1 .sub-2{
    width:35%;
    display:inline-block;
}
.sub-2 h3{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 43px;
    line-height: 153.19%;
    /* identical to box height, or 66px */
    
    
    color: #B1B1B1;
}

.book-img img{
    
    margin: 10px 8px;
}
.sub-3{
    width: 30%;
    display: inline-block;
    margin-left: 10px;
}
.sub-3 h3{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 43px;
    line-height: 153.19%;
    /* identical to box height, or 66px */
    
    
    color: #B1B1B1;
}
.details p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 195.19%;
    /* or 41px */
    
    
    color: #FFFFFF;
}
.footer-last{
    background-color: #6C6C6C;
    
}
.footer-last p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 195.19%;
    /* or 41px */
    display: inline-block;

    color: #FFFFFF;
    padding:10px 5px;
}
.footer-last .para{
    float: right;
}