*{
    margin:0;
    padding:0;
}
body{
    background: #FFFFFF;
}
header{
    
    margin: 0 auto;
    border: 1px solid;
}
.toogle img{
    padding: 30px;
}
.user-nav{
    display: flex;
}

.dash-board-ul{
    margin-top: 50px;
}
.dash-board img{
    display:inline-block;
    margin-left: 10px;
    margin-right: 10px;
}
.dash-board a{
    display: block;

}
.para{
    display:inline-block;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;

    color: #000000;

}
.right-section{
    border-left: 1px solid rgba(0, 0, 0, 0.3);
    

}
.user-detail{
    margin-top: 20px;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    border-radius: 0px 0px 8px 8px;
    

}
.user-detail h4{
    background: #0373BB;
    border-radius: 8px 8px 0px 0px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    padding:12px;
    color: #FFFFFF;
    
}
.profile-details{
    width:25%;
    margin-left: 30px;
    display: inline-block;
}
.profile-details p{

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 21px;
    /* identical to box height */
    
    
    color: #000000;
    
}
.bio-data{
    width:70%;
    display: inline-block;
    vertical-align: top;
}
.bio-data .colum-1{
    width:15%;
    display: inline-block;
    vertical-align: top;
}
.colum-1 p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;

    color: #000000
}
.bio-data .colum-2{
    display: inline-block;
    width: 35%
}
.colum-2 p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    
    color: #000000;
    
}
.bio-data .colum-3{
    width:25%;
    display: inline-block;
    vertical-align: top;
}
.colum-3 p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;

    color: #000000
}
.bio-data .colum-4{
    display: inline-block;
    width: 20%;
    vertical-align: top;
}
.colum-4 p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    
    color: #000000;
    
}
.right-section h3{
    margin: 20px 0px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 28px;
    
    color: #000000;
}
.content{
    background: #FFFFFF;
    border: 2px solid #C4C4C4;
    border-radius: 8px;
    width:100%;
}
.content-1{
    width: 24.5%;
    display: inline-block;
}
.content-1 .image{
    background: #FFFFFF;
    border: 2px solid #C4C4C4;
    border-radius: 6px;
    margin: 20px 0px 0px 50px;
    width: 84px;
}
.image img{
    margin-left: 10px;
    width:40%;
}
.image p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    display: inline-block;
    margin-top: 10px;

    
    color: #000000;
     
}
.due{
    width: 90%;
    margin: 0 auto;
}
.due img{
    float:left;
    
    margin-right: 20px;

}
.section-last{
    background: #FFFFFF;
    border: 2px solid #C4C4C4;
    border-radius: 8px;
    width:100%;
}
.last-content-1{
    width: 50%;
    display: inline-block;
    margin-left: 70px;
}
.last-content-1 p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    margin: 25px 0px;

    color: #0374BC;
}
.last-content-1 button{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    background: #C4C4C4;
    border-radius: 15px;
    display: block;
    color: #000000;
    width:45%;
    margin-bottom: 12px;
}
.last-content-2{
    width: 40%;
    display: inline-block;
    vertical-align: top;

}
.last-content-2 p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    /* identical to box height */
    
    
    color: #0374BC;
    
}
.due-date{
    column-count: 2;
}
.due-date li{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    list-style: none;
    color: #000000;
    padding:10px;
}
.due-date .bold{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    
    color: #000000;
    
}
.last-content-2 button{
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    border-radius: 12px;
    color:#000;
}
.last-content-2 .last-button{
    display: block;
    background: #0374BC;
    border-radius: 20px;
}