*{
    margin: 0;
    padding:0;
}
header img{
    width:10%;
}
header .navul{
    width:39%;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
  
}
header a:hover{
    color: pink;
    
}
.login-page .img{
    width:30%;
}