*{
    margin:0;
    padding:0;
}
.header-section{
    background: #333333;
}
.header-section li{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 27px;
    line-height: 32px;
    padding:48px 53px 49px 0px;
    
}
.header-img{
    background: #FFFFFF;
    border: 1px solid #000000;
    box-shadow: 0px 4px 29px rgba(111, 111, 111, 0.25);

}
.header-img img{
    width:50%;    
}
.header-img h3{
    margin-left: 310px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;

    color: #000000;
}
section{
    background-color: #F3F2EE;
}
.child{
    background: none;
    border: none;
}
.child h3{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 45px;
    
    
    
    color: #343434;
}
.child p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 23px;
    line-height: 153.19%;
    
    
    
    color: #000000;
}
.child img{
    border: 1px solid black;
    padding: 5px;
}

.child a{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 29px;
    line-height: 153.19%;
    color: #6D9D34;
}
section .section-2{
    background: #E5E5E5;
}
.section-2 .image{
    margin-top: 97px;
    margin-left: 48px;

}