
*{
    margin:0;
    
}
header{
    border:1px solid #000;
    background-color: #000;
    color:#fff;
    padding:50px;
    text-align: center;
    font-size:40px ;
}
nav{
    border:3px solid #fff;
    background-color:  #808080;
    color:#fff;
    padding:30px;
    text-align: center;
    font-size:40px ;
}
section{
    background-color:gray;
    overflow:hidden;
}
section h3{
    width:100%;
    border:1px  solid #808080;
    background-color: #808080;
    text-align: center;
    
}
.grid{
    padding:10px;
    margin-left:5px;
}
.grid .column{
    width: 32%;
    display:inline-block;
    
    border: 1px solid white;
    background-color:white;
    padding-bottom:50px;
    margin-left:5px;
    height:170px;
    
}
footer{
    border:3px solid #fff;
    background-color:  #808080;
    color:#fff;
    padding:30px;
    text-align: center;
    font-size:40px ;
}